<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>295886256518-c87gk3jpt1b6vfu2u40tkl00deamj52c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.295886256518-c87gk3jpt1b6vfu2u40tkl00deamj52c</string>
	<key>API_KEY</key>
	<string>AIzaSyA9HALihk5T4NZVgB9FgVxOhbp2gWCZ-68</string>
	<key>GCM_SENDER_ID</key>
	<string>295886256518</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.crudApp</string>
	<key>PROJECT_ID</key>
	<string>crudapp-4ec7f</string>
	<key>STORAGE_BUCKET</key>
	<string>crudapp-4ec7f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:295886256518:ios:bb9b14eb8fae048dd71407</string>
</dict>
</plist>